* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #043247;
  height: 100vh;
  width: 100vw;
}

.esenario {
  width: 1300px;
  height: 610px;
  border: 1px solid red;
  margin: 0 auto;
  background-image: url("../img/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .backGround{
    width: 900px;
    height:325px;
    position: absolute;
    /* border: 2px solid black ; */
    top: 0;
    overflow: hidden;
    display: flex;
  
  
    .poderes{
      width: 55%;
      height: 100%;
      /* border: 2px solid red; */
      display: flex;
      justify-content: center;
      align-items: start;
  
      div{
        width: 150px;
        height: 200px;
        /* border: 2px solid blue; */
        margin: 10px 5px 0 10px ;
        z-index: 1;
        cursor: pointer;
  
        img{
          width: 100%;
          height: 100%;
          opacity: 0.8;
        }
      }
      
    }
    
    
    .imagen{
      width: 45%;
      height: 100%;
      /* border: 2px solid rgb(31, 207, 60); */
  
      img{
        width: 100%;
        height: 100%;
        opacity: 0.5;
        animation: slideAnimation 50s linear infinite;
      }
  
    }
  }
  

 
}


.esenario__left {
  width: 50%;
  /* border: 3px solid rgb(0, 67, 252); */
  height: 100%;
  position: relative;

  .informacion_left{
    width: 200px;
    height: 250px;
    border: 1px solid black;
    position: absolute;
    top: 200px;
    left: 50px;
    background: whitesmoke;
    border-radius: 14px;
    opacity: 0;
  }

  
  .personaje {
    position: relative;
    width: 350px;
    display: flex;

      img {
        width: 100%;
        filter: blur(1.2px);
        filter: blur(1px);
        cursor: pointer;
        /* border: 1px solid black; */
      }
  }

  .personaje_Principal {
    /* border: 1px solid #c41010; */
    width: 150px;
    height: 150px;
    cursor: pointer;
    z-index: 22;
    


    .shadow_left {
      position: absolute;
      bottom: 0;
      left: 100px;
      transform: translateX(-50%) rotateX(75deg);
      width: 120px; /* ajusta para el tamaño de la sombra */
      height: 75px; /* la mitad del ancho para mantener proporción */
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.63),
        transparent
      );
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.6),
        transparent 70%
      );
      border-radius: 50%;
  }
  }
  .personaje_Secundario {
    /* border: 1px solid #c41010; */
    width: 180px;
    height: 180px;
    position: relative;
    right: 70px;
    z-index: 10;

    img{
      position: relative;
      top: -30px;
      width: 120%;
      filter: blur(1.2px);
    }
  }


  

  .p1 {
    position: absolute;
    top: 450px;
    left: 350px;
  }
  
  .p2 {
    position: absolute;
    top: 300px;
    left: 320px;
  }
  
  .p3 {
    position: absolute;
    top: 200px;
    left: 450px;
  }
}

.esenario_right {
  width: 50%;
  /* border: 3px solid rgb(255, 0, 0); */
  position: relative;
  height: 100%;

  .informacion_right{
    width: 200px;
    height: 250px;
    /* border: 1px solid black; */
    position: absolute;
    top: 200px;
    right: 60px;
    background: whitesmoke;
    border-radius: 14px;
    opacity: 0;


  }

  
  .personaje {
    position: relative;
    width: 400px;
    display: flex;

      img {
        width: 100%;
        filter: blur(1.2px);
        cursor: pointer;
        /* border: 1px solid black; */
      }
  }

  .personaje_Principal {
    /* border: 1px solid #1397b9; */
    width: 150px;
  }
  
  
  .personaje_Secundario {
    width: 200px;
    /* border: 1px solid #c41010; */
    position: relative;
    left: 100px;

    img{
      width: 100%;
      filter: blur(1.2px);
    }

  }

  
  .p4 {
    position: absolute;

    top: 450px;
    left: -50px;
  }

  .p5 {
    position: absolute;

    top: 300px;
    left: -0px;
  }

  .p6 {
    position: absolute;

    top: 200px;
    left: -100px;
  }

  
  .shadow_right {
    position: absolute;
    bottom: 0;
    left: 80%;
    transform: translateX(-50%) rotateX(75deg);
    width: 120px; /* ajusta para el tamaño de la sombra */
    height: 75px; /* la mitad del ancho para mantener proporción */
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.63),
      transparent
    );
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.6),
      transparent 70%
    );
    border-radius: 50%;
}

} 



.snow{
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;

  video{
    width: 100%;
    object-fit: cover;
  }
  

}




.informacion{
  width: 50%;
  margin: 10px auto;
  height: 400px;
  background: whitesmoke;
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
  align-items: center;

  .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button{
    width: 150px;
    height: 100px;
    border: none;
    background:#043247;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    margin: 5px;

    &:hover{
      background: #09586b;
      cursor: pointer;
      transform: scale(1.03);
    }
 }

 .boton_activo{
  background: #09586b;
  cursor: pointer;
  transform: scale(1.03);
  border: 2px solid goldenrod;
 }


}


.turno{
  border: 2px solid goldenrod;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  background: black;
  border-radius: 20px 20px 60px 50px;
  opacity: 0.8;
}

.turno_izquierda{
  left: 45px;
}

.turno_derecha{
left: 250px;
}

