@keyframes aparicionDaño {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    10% {
        transform: translateY(-10px) scale(1.2) rotate(10deg);
        opacity: 1;
    }
    20% {
        transform: translateY(-20px) scale(1.4) rotate(-10deg);
    }
    30% {
        transform: translateY(-25px) scale(1.5) rotate(5deg);
    }
    50% {
        transform: translateY(-35px) scale(1.3) rotate(-5deg);
    }
    70% {
        transform: translateY(-40px) scale(1.4) rotate(0deg);
        opacity: 0.9;
    }
    80% {
        transform: translateY(-30px) scale(1.2) rotate(5deg);
    }
    90% {
        transform: translateY(-35px) scale(1.3) rotate(-5deg);
    }
    100% {
        transform: translateY(-50px) scale(1);
        opacity: 0;
    }
}

.seccionDaño {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;

    /*$ tiempo importante de match  */
    animation: aparicionDaño 0.5s ease-out forwards;
}

.cantidadDaño {
    text-shadow: 1px 1px 2px #000;
    font-size: 40px; /* Bigger font */
    font-weight: bold;
}

.seccionDañoQuemadura{
    border: 1px solid #cf7500;
    background: #ce810eb0;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 200;
}


.seccionDañoVeneno{
    /* border: 1px solid #c500cf; */
    /* background: #910eceb0; */
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 200;
    
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 32px;
    font-weight: bold;
    color: rgb(176, 62, 186);    
    
    
}




/* Indicador de turno */
.seccionTurnoCirculo {
    width: 100px;
    height: 50px;
    background: radial-gradient(ellipse at center, rgba(8, 191, 242, 0.8), rgba(9, 189, 255, 0.235) 80%);
    border-radius: 50%;
    position: absolute;
    animation: turnoRPGImpactante 2s  linear infinite;
}

@keyframes turnoRPGImpactante {
    0% {
        transform: scale(1.1);
        box-shadow: 0 0 5px rgba(9, 202, 51, 0.811), 0 0 20px rgba(8, 191, 242, 0.4);
        /* filter: brightness(1); */
    }
    25% {
        transform: scale(1.2);
        box-shadow: 0 0 5px rgba(12, 193, 36, 0.9), 0 0 25px rgba(8, 191, 242, 0.6);
        /* filter: brightness(1.2); */
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 5px rgba(12, 193, 18, 0.852), 0 0 20px rgba(8, 149, 237, 0.4);
        /* filter: brightness(1); */
    }
    75% {
        transform: scale(1.2);
        box-shadow: 0 0 5px rgba(12, 193, 39, 0.667), 0 0 25px rgba(8, 191, 242, 0.3);
        /* filter: brightness(0.8); */
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0 0px 5px rgba(15, 193, 12, 0.7), 0 0 30px rgba(4, 131, 169, 0.4);
        /* filter: brightness(1); */
    }
}
