.escenario__equipo2 {
  width: 50%;
  height: 100%;
  position: relative;

  .ubicacionPersonajePrincipal {
    left: 0;
    bottom: 0;
  }

  .ubicacionPersonajeEnemigo {
    left: -120px;
    bottom: 0;
  }

  .seccionVida {
    position: relative;
    left: 150px;
  }

  .porcentajeVida {
    background: #1ab4b1c5;
  }

  .numeroPorcentaje {
    left: 150px;
  }

  /* Condiciones */

  .seccionCondicion {
    top: 20px;
    left: 400px;
  }

  .seccionestadisticas {
    left: 150px;

    .poder {
      background: rgb(82, 117, 116);
    }
  }

  /* Seccion Fuego */

  .seccionDebufQuemadura {
    top: -75px;
    right: 110px;
  }

  /* Seccion veneno */

  .seccionDebufVeneno {
    top: -120px;
    right: 20px;
  }

  /* Seccion caravela */

  .seccionTurno {
    top: -50px;
    right: 280px;
  }
}

.lugar4 {
  left: 200px;
  bottom: 0;
}

.lugar5 {
  left: 250px;
  bottom: 180px;
}

.lugar6 {
  left: 150px;
  bottom: 300px;
}
