.escenario__equipo1 {
  width: 50%;
  height: 100%;
  position: relative;

  /* ubicaciones de personajes */

  .ubicacionPersonajePrincipal {
    right: 0;
    top: 0;
  }

  .ubicacionPersonajeEnemigo {
    right: -110px;
    top: 0;
  }

  /* Condiciones */

  .seccionCondicion {
    left: -80px;
    top: 8px;
  }

  .seccionVida {
    left: 100px;
  }

  /* Seccion Fuego */

  .seccionDebufQuemadura {
    top: -75px;
    right: 110px;
  }

  /* Seccion veneno */

  .seccionDebufVeneno {
    top: -120px;
    right: 220px;
  }

  /* Seccion caravela */

  .seccionTurno {
    top: -50px;
    right: 10px;
  }
}

.lugar1 {
  right: 240px;
  bottom: 15px;
}

.lugar2 {
  right: 300px;
  bottom: 180px;
}

.lugar3 {
  right: 220px;
  bottom: 300px;
}
