.escenario__equipo1 {
  width: 50%;
  height: 100%;
  position: relative;

  /* ubicaciones de personajes */

  .ubicacionPersonajePrincipal {
    right: 0;
    top: 0;
  }

  .ubicacionPersonajeEnemigo {
    right: -130px;
    top: 0;

    img{
      position: relative;
      left: -50px;
      top: -30px;
    }
  }

  /* Condiciones */

  .seccionCondicion {
    left: -80px;
    top: 8px;
  }

  .seccionVida {
    left: 100px;
  }

  /* Seccion Fuego */

  .seccionDebufQuemadura {
    top: -75px;
    right: 130px;
  }

  /* Seccion veneno */

  .seccionDebufVeneno {
    top: -120px;
    right: 220px;
  }

  /* Seccion caravela */

  .seccionTurno {
    top: -50px;
    right: 10px;
  }


  .seccionDaño{
    right:20px;
    top: -20px;
  }

  .seccionDañoQuemadura{
    left: 200px;
    top: -60px;
  }

  .seccionDañoVeneno{
    left: 105px;
    top: -110px;
  }

  .seccionDebufTurno{
    top: -55px;
    right: 10px;
  }


  .seccionTurnoCirculo{
    right: 20px;
    bottom:-20px;
  }


}

.lugar1 {
  right: 240px;
  bottom: 25px;
}

.lugar2 {
  right: 270px;
  bottom: 180px;
}

.lugar3 {
  right: 200px;
  bottom: 340px;
}
