.escenario__equipo2 {
  width: 50%;
  height: 100%;
  border: 1px solid red;
  position: relative;

  .ubicacionPersonajePrincipal {
    left: 0;
    bottom: 0;
  }
  
  .ubicacionPersonajeEnemigo {
    left: -120px;
    bottom: 0;
  }

  .contenedor_barraVida { 
    position: relative;
    left: 150px;
  }

  /* Condiciones */

  .seccionCondicion {
    top: 20px;
    left: 400px;
  }

  .seccionestadisticas{
    left: 240px;
  }


}

.lugar4 {
  left: 200px;
  bottom: 0;
}

.lugar5 {
  left: 250px;
  bottom: 180px;
}

.lugar6 {
  left: 150px;
  bottom: 300px;
}
