* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Evitar seleccon de elmentos */
  user-select: none;
  -moz-user-select: none;
}

body {
  margin: 0px auto;
  width: 1600px;
  height: 800px;
}

.escenario {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #a7a7a7;

  .imagenFondo {
    width: 100%;
    position: absolute;
    bottom: -140px;
  }
}

.personaje {
  position: absolute;
  width: 400px;
  height: 150px;
}

/* SEccionVida */
.seccionVida {
  position: relative;
  width: 52%;
  height: 10px;
  background: rgb(135, 135, 135);
  border: 0.5px solid black;
  border-radius: 10px;
  opacity: 0.8;
}

.porcentajeVida {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70%;
  height: 100%;
  border-radius: 16px;
  background: #1ab422c5;
  transition: width 0.6s ease-in-out;
}

.numeroPorcentaje {
  color: white;
  position: absolute;
  top: -20px;
  width: 100px;
}

/* Seccion Estadisticas de Ataque y Defensa */
.seccionestadisticas {
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.598);
  position: absolute;
  display: flex;
  left: 140px;

  .poder {
    width: 80%;
    height: 30px;
    background: rgb(82, 117, 88);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: white;
      margin-right: 10px;
    }

    p {
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: bold;
    }
  }
}


/* Ubicacion Personbajesa */
.ubicacionPersonajePrincipal {
  height: 100%;
  width: 150px;
  /* border: 1px solid #028f49; */
  position: absolute;
  right: 0;
  top: 0;

  img {
    width: 100%;
    cursor: pointer;
  }
}

.ubicacionPersonajeEnemigo {
  height: 100%;
  width: 150px;
  /* border: 1px solid #8f0202; */
  /* background: #9403039a; */
  position: absolute;
  pointer-events: none;
  
  img{
    width: 130%;
    /* border: 1px solid #ffffff; */
  }


}

.seccionDebufQuemadura {
  position: absolute;
  width: 100px;
  height: 100px;

  opacity: 0.8;

  img {
    width: 100%;
  }
}

.seccionDebufVeneno {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.8;

  img {
    width: 100%;
  }
}

.seccionTurno {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 200;
  /* opacity: 0.8; */

  img {
    width: 100%;
  }
}

.seccionDebufTurno{
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  z-index: 200;
  
  img {
    width: 100%;
  }
}


/* Indicador de turno */
.seccionTurnoCirculo {
  width: 100px;
  height: 50px;
  background: radial-gradient(ellipse at center, rgba(8, 172, 242, 0.467), rgba(9, 75, 255, 0.235) 80%);
  /* background-image: url("../assets/img/condicion/skull.gif"); */
  border-radius: 50%;
  position: absolute;
  animation: turnoAnimation 2s  linear infinite;

  img{
    width: 100%;
  }
}

@keyframes turnoAnimation {
  0% {
      transform: scale(1.1);
      box-shadow: 0 0 5px rgba(9, 170, 202, 0.811), 0 0 20px rgba(8, 191, 242, 0.4);
      /* filter: brightness(1); */
  }
  25% {
      transform: scale(1.2);
      box-shadow: 0 0 5px rgba(12, 193, 139, 0.9), 0 0 25px rgba(8, 191, 242, 0.6);
      /* filter: brightness(1.2); */
  }
  50% {
      transform: scale(1.1);
      box-shadow: 0 0 5px rgba(12, 187, 193, 0.852), 0 0 20px rgba(8, 149, 237, 0.4);
      /* filter: brightness(1); */
  }
  75% {
      transform: scale(1.2);
      box-shadow: 0 0 5px rgba(12, 193, 118, 0.667), 0 0 25px rgba(8, 191, 242, 0.3);
      /* filter: brightness(0.8); */
  }
  100% {
      transform: scale(1.1);
      box-shadow: 0 0px 5px rgba(12, 90, 193, 0.7), 0 0 30px rgba(4, 131, 169, 0.4);
      /* filter: brightness(1); */
  }
}


