*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Evitar seleccon de elmentos */
    user-select: none;
    -moz-user-select: none; 
}




body{
    width: 1400px;
    height: 610px;
    margin: 10px auto;
}


.escenario{
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
}


.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #a7a7a7;
}