* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #043247;
  height: 100vh;
  width: 100vw;
}

.esenario {
  /* min-width: 1000px; */
  /* max-height: 1100px; */
  width: 1300px;
  height: 550px;

  border: 1px solid red;
  margin: 0 auto;

  background-image: url("../img/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esenario__left {
  width: 50%;
  border: 3px solid rgb(0, 67, 252);
  height: 100%;
  position: relative;
}

.esenario_right {
  width: 50%;
  border: 3px solid rgb(255, 0, 0);
  position: relative;
  height: 100%;
} 

.esenario__left .poderes {
  border:  1px solid green;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.esenario__left .poderes button {
  width: 50px;
  height: 50px;
  background: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
} 




.personaje {
  position: relative;
  /* border: 1px solid red; */
  width: 450px;
  display: flex;
}

.personaje_Principal {
  width: 50%;
}

.personaje_Secundario {
  width: 50%;
  /* border: 1px solid black; */
}

.personaje img {
  width: 95%;
  filter: blur(1.2px);
  filter: blur(1px);
  /* filter: blur(0); */
}

.shadow_left {
  position: absolute;
  bottom: 0;
  left: 30%;
  transform: translateX(-50%) rotateX(75deg);
  width: 120px; /* ajusta para el tamaño de la sombra */
  height: 75px; /* la mitad del ancho para mantener proporción */
  background: radial-gradient(ellipse at center,rgba(0, 0, 0, 0.63),transparent);
  background: radial-gradient(ellipse at center,rgba(0, 0, 0, 0.6),transparent 70%);
  border-radius: 50%;
  /* border: 10px solid goldenrod; */
}

.shadow_right {
  position: absolute;
  bottom: 0;
  left: 80%;
  transform: translateX(-50%) rotateX(75deg);
  width: 120px; /* ajusta para el tamaño de la sombra */
  height: 75px; /* la mitad del ancho para mantener proporción */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.63),
    transparent
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.6),
    transparent 70%
  );
  border-radius: 50%;
}



.p1 {
  position: absolute;
  top: 350px;
  left: 250px;
}

.p2 {
  position: absolute;
  top: 240px;
  left: 320px;
}

.p3 {
  position: absolute;
  top: 150px;
  left: 400px;
}

.p4 {
  position: absolute;

  top: 350px;
  left: -50px;
}

.p5 {
  position: absolute;

  top: 250px;
  left: -100px;
}

.p6 {
  position: absolute;

  top: 150px;
  left: -130px;
}

.esenario__left .personaje_Secundario {
  position: relative;
  right: 100px;
  width: 200px;
}

.esenario_right .personaje_Secundario {
  position: relative;
  left: 100px;
}

/* @media (max-width: 1600px) {
  .esenario {
    background-position: -200px;
  }
}
@media (max-width: 1400px) {
  .esenario {
    background-position: -300px;
  }
}
@media (max-width: 1200px) {
  .esenario {
    background-position: -300px;
  }
} */
