/** Barras de vida */

.esenarioEquipo1 {
  .contenedor_barraVida {
    position: absolute;
    top: 10px;
    left: -100px;
    width: 52%;
    height: 10px;
    background: rgb(135, 135, 135);
    border: 0.5px solid black;
    border-radius: 10px;
    opacity: 0.8;
  }

  .porcentajeVida {
    position: absolute;
    top: 0;
    border-radius: 10px;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(98, 219, 120);
    transition: width 0.6s ease-in-out;
  }

  .numeroPorcentaje {
    color: white;
    font-size: 14px;
    position: absolute;
    top: -12px;
  }
}

.esenarioEquipo2 {
  .contenedor_barraVida {
    position: absolute;
    top: 20px;
    left: 320px;
    width: 50%;
    height: 10px;
    background: rgb(135, 135, 135);
    border: 0.5px solid black;
    border-radius: 10px;
    opacity: 0.8;
    transform-origin: right;
  }

  .porcentajeVida {
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgb(98, 219, 201);
    transition: width 0.6s ease-in-out;
    transform-origin: right;
  }

  .numeroPorcentaje {
    color: white;
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 130px;
  }
}

/** Seccion de poderes */

.esenarioEquipo1 {
  .seccionestadisticas {
    width: 72%;
    /* height: 50px; */
    border: 1px solid rgba(0, 0, 0, 0.598);
    position: absolute;
    top: 7px;
    left: 0px;
    display: flex;

    .poder {
      /* border: 1px solid red; */
      width: 80%;
      height: 25px;
      /* border-radius: 50%; */
      background: rgb(82, 117, 88);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: white;
        margin-right: 10px;
      }

      p {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

.esenarioEquipo2 {
  .seccionestadisticas {
    width: 72%;
    /* height: 50px; */
    border: 1px solid black;
    position: absolute;
    top: 7px;
    left: 55px;
    display: flex;

    .poder {
      /* border: 1px solid red; */
      width: 80%;
      height: 25px;
      /* border-radius: 50%; */
      background: rgb(82, 115, 117);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: white;
        margin-right: 10px;
      }

      p {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

/** Seccion condicion */
.esenarioEquipo1 {
  .seccionCondicion {
    background: rgba(242, 0, 0, 0.502);
    width: auto;
    height: 28px;
    border: 1px solid rgb(123, 19, 19);
    position: absolute;
    top: -50px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .condicion {
    margin: 5px 10px;
    color: white;
    /* border: 1px solid whitesmoke; */
  }
}

.esenarioEquipo2 {
  .seccionCondicion {
    width: auto;
    height: 30px;
    /* border: 1px solid black; */
    position: absolute;
    top: -30px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .condicion {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    /* background: rgb(219, 98, 215); */
  }
}
