* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: #043247;
  height: 100vh;
  width: 100vw;
}



.esenario {
  width: 1400px;
  height: 610px;
  border: 1px solid red;
  margin: 0 auto;
  background-image: url("../img/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -170px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .backGround {
    width: 900px;
    height: 325px;
    position: absolute;
    /* border: 2px solid black ; */
    top: 0;
    overflow: hidden;
    display: flex;

    .poderes {
      width: 55%;
      height: 100%;
      /* border: 2px solid red; */
      display: flex;
      justify-content: center;
      align-items: start;

      div {
        width: 150px;
        height: 200px;
        /* border: 2px solid blue; */
        margin: 10px 5px 0 10px;
        z-index: 1;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          opacity: 0.8;
        }
      }
    }

    .imagen {
      width: 45%;
      height: 100%;
      /* border: 2px solid rgb(31, 207, 60); */

      img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        animation: slideAnimation 50s linear infinite;
      }
    }
  }
}

.snow {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  opacity: 0.8;

  video {
    width: 100%;
    object-fit: cover;
  }
}

.thunder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: screen;
  /* height: 100%; */

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.turno {
  /* border-bottom: 2px solid goldenrod; */
  position: absolute;
  width: 70px;
  height: 60px;
  top: -50px;
  opacity: 0.8;
  z-index: 100;
  /* border-radius: 20px 20px 60px 50px; */

  img {
    width: 100%;
  }
}

.turnoEquipo1 {
  left: 25px;
}

.turnoEquipo2 {
  left: 380px;
}

.cinema{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(255,255,255);
  z-index: 100;
  background: radial-gradient(circle, rgba(255,255,255,0) 51%, rgb(5, 5, 5) 110%);
  pointer-events: none; 
  display: flex;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.cinema.active{
  transition: opacity 0.8s ease-in;
  display: flex;
  opacity: 1;
  pointer-events: none;
}