
.informacion{
    width: 10%;
    position: absolute;
    top: 10px;
    left: 20px;
    background: rgba(245, 245, 245, 0.646);
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
  
    .imagen_personaje{
      width: 100px;
      height: 100px;
      opacity: 0.8;
      /* border: 1px solid black; */
  
      img{
        width: 100%;
      }
    }
  
    .habilidades{
      display: flex;
      flex-direction: column;
      margin: 10px;
      /* border: 1px solid black; */
    }
    
    .stats{
      width: 80%;
      /* border: 1px solid rgb(49, 134, 213); */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      margin-top: 15px;
    }
  
    button{
      width: 80px;
      height: 80px;
      border: 5px solid black;
      border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255)) 1;
      
      background:#043247;
      /* border-radius: 50%; */
      color: white;
      font-size: 15px;
      margin: 5px;
      animation: rotate-border 1s linear infinite; /* Aplica la animación */
  
      img{
        width: 100%;
      }
  
      &:hover{
        background: #09586b;
        cursor: pointer;
        transform: scale(1.03);
      }
  
   
   }
  
    .boton_activo{
      background: #09586b;
      overflow: hidden;
      cursor: pointer;
      transform: scale(1.03);
      border: 7px solid goldenrod;
    }
  
  
  }
  



@keyframes rotate-border {
  0% {
    border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255)) 1;
  }
  25% {
    border-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0)) 1;
  }
  50% {
    border-image: linear-gradient(225deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255)) 1;
  }
  75% {
    border-image: linear-gradient(315deg, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0)) 1;
  }
  100% {
    border-image: linear-gradient(405deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255)) 1;
  }
}