* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Poppins", sans-serif;
  background: #043247;
  height: 100vh;
  width: 100vw;
}

.esenario {
  width: 1400px;
  height: 610px;
  border: 1px solid red;
  margin: 0 auto;
  background-image: url("../img/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -170px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .backGround{
    width: 900px;
    height:325px;
    position: absolute;
    /* border: 2px solid black ; */
    top: 0;
    overflow: hidden;
    display: flex;
  
  
    .poderes{
      width: 55%;
      height: 100%;
      /* border: 2px solid red; */
      display: flex;
      justify-content: center;
      align-items: start;
  
      div{
        width: 150px;
        height: 200px;
        /* border: 2px solid blue; */
        margin: 10px 5px 0 10px ;
        z-index: 1;
        cursor: pointer;
  
        img{
          width: 100%;
          height: 100%;
          opacity: 0.8;
        }
      }
      
    }
    
    
    .imagen{
      width: 45%;
      height: 100%;
      /* border: 2px solid rgb(31, 207, 60); */
  
      img{
        width: 100%;
        height: 100%;
        opacity: 0.5;
        animation: slideAnimation 50s linear infinite;
      }
  
    }
  }
  

 
}



.snow{
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;

  video{
    width: 100%;
    object-fit: cover;
  }
  

}


.thunder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  /* mix-blend-mode: color-dodge; */
  mix-blend-mode: screen;
  /* height: 100%; */

  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

}




.informacion{
  width: 10%;
  position: absolute;
  top: 10px;
  left: 20px;
  background: whitesmoke;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;

  .imagen_personaje{
    width: 100px;
    height: 100px;
    border: 1px solid black;

    img{
      width: 100%;
    }
  }

  .habilidades{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
  }
  
  .stats{
    width: 80%;
    border: 1px solid rgb(49, 134, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 15px;
  }

  button{
    width: 80px;
    height: 80px;
    border: none;
    background:#043247;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    margin: 5px;

    img{
      width: 100%;
    }

    &:hover{
      background: #09586b;
      cursor: pointer;
      transform: scale(1.03);
    }

 
 }

  .boton_activo{
    background: #09586b;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1.03);
    border: 7px solid goldenrod;
  }


}


.turno{
  border: 2px solid goldenrod;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 15px;
  background: black;
  border-radius: 20px 20px 60px 50px;
  opacity: 0.8;
}

.turno_izquierda{
  left: 45px;
}

.turno_derecha{
left: 250px;
}

